html {
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
    position: relative;
}

body {
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    width: 100%;
    min-width: 100vh;
    min-height: 100vw;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
}

div {    
    box-sizing: border-box;
    position: relative;
}

#outerWrapper {
    width: 100%;
    height: 100vh;
}

#leftWrapper {
    width: 25%;
    height: 100%;
    float: left;
}

#bigDisplayWrapper {
    width: 50%;
    height: 100%;
    float: left;
}

#rightWrapper {
    width: 25%;
    height: 100%;
    float: left;
}

button {
    height: 40px;
    width: auto;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.buttonBox {
    width: 50%;

    /* DYNAMIC HEIGHT USING PADDING TRICK */
    height: 0px;
    padding-top: 50%;

    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
}

.buttonBox:hover {
    cursor: pointer;
    background-color: rgb(206, 206, 206);
}

#foodPyramidButton {
    position: relative;
    top: 40%;
}

#bubbleButton {
    position: relative;
    top: 45%;
}

#pieChartButton {
    position: relative;
    top: 40%;
    background-image: url('./images/pie.png');
    background-size: contain;
    
}

#histogramButton {
    position: relative;
    top: 45%;
    background-image: url('./images/histogram.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

h2, h3 {
    margin: -5px;
    padding: -5px;
}

bar:hover {
    fill:red;
}

.bar rect:hover {
    fill: orangered;
  }